.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
    "h h h"
    "p1 p2 p3"
    "p1 p2 p3"
    "p1 p2 p3";
}
.header {
  grid-area: h;
  margin-bottom: 50px;
}
.player1 {
  grid-area: p1;
}
.player2 {
  grid-area: p2;
}
.player3 {
  grid-area: p3;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}
